<html>
    <link rel="stylesheet" href="../styles/card.css">
<div class="product-card">
    <img class="product-avatar"
        src="<%- product.imgLink %>"
        alt="avatar">
    <div class="product-info">
        <div class="product-present">
            <h4 id="product-name"><%- product.name %></h4>
            <p id="product-price">Цена: <%- product.price %></p>
            <p id="product-type">Тип: <%- product.type %></p>
            <p id="users-amount">Количество участников: <%- product.numberOfUsers %></p>
            <div class="product-desc">
                <p id="product-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
                    distinctio deserunt
                    architecto sit qui. Inventore
                    assumenda officiis error! Repellat, ut!</p>
            </div>
        </div>
    </div>
    <button class="card-buy" id="<%- product.id%>">Buy</button>
</div>

</html>